<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Epic Energy Services - Gestione clienti</title>
<meta charset="UTF-8" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/layout.css}" />
</head>
<body>
	<div class="header-menu">Epic Energy Services</div>
	<div class="header-section">Elenco clienti</div>

	

		<div class="card">
		<div> <a href="/web/clienti/mostraFormAggiungi" class="btn btn-primary eBtn">New</a></div>

			<table class="table table-hover">
				<thead>
					<tr>
						<th class="header">
						<a th:href="@{'/web/clienti/page/' + ${currentPage} + '?sortField=ragioneSociale&sortDir=' + ${reverseSortDir}}">Ragione Sociale</a>
						</th>
						<th class="header">Partita Iva</th>
						<th class="header">Email</th>
						<th class="header">Data Inserimento</th>
						<th class="header">Data Ultimo Contatto</th>
						<th class="header">Fatturato Annuale</th>
						<th class="header">Pec</th>
						<th class="header">Telefono</th>
						<th class="header">Email Contatto</th>
						<th class="header">Nome Contatto</th>
						<th class="header">Cognome Contatto</th>
						<th class="header">Telefono Contatto</th>
						<th class="header">Tipo Cliente</th>
						<th class="header"></th>
						<th class="header"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cliente : ${clienti}">
						<td th:text="${cliente.ragioneSociale}"></td>
						<td th:text="${cliente.partitaIva}"></td>
						<td th:text="${cliente.email}"></td>
						<td
							th:text="${#temporals.format(cliente.dataInserimento, 'dd-MM-yyyy')}"></td>
						<td
							th:text="${#temporals.format(cliente.dataUltimoContatto, 'dd-MM-yyyy')}"></td>
						<td th:text="${cliente.fatturatoAnnuale}"></td>
						<td th:text="${cliente.pec}"></td>
						<td th:text="${cliente.telefono}"></td>
						<td th:text="${cliente.emailContatto}"></td>
						<td th:text="${cliente.nomeContatto}"></td>
						<td th:text="${cliente.cognomeContatto}"></td>
						<td th:text="${cliente.telefonoContatto}"></td>
						<td th:text="${cliente.tipo}"></td>
						<td><a th:href="@{/web/clienti/mostraFormAggiorna/{id}(id=${cliente.id})}"
							class="btn btn-primary eBtn">Edit</a></td>
						<td><a th:href="@{/web/clienti/delete/{id}(id=${cliente.id})}" onclick="return confirm('Are you sure you want to delete this client?')"
							class="btn btn-danger delBtn">Delete</a></td>
					</tr>
				</tbody>
			</table>
			
			<hr />

				</div>


		<div th:if = "${totalPages > 0}">
				<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Elements: [[${totalItems}]]
				</div>
				
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/web/clienti/page/' + ${currentPage + 1} + '?sortField=ragioneSociale&sortDir=' + ${SortDir}}" class="btn btn-secondary btn-sm">Next</a>
					<span th:unless="${currentPage < totalPages}" class="btn btn-outline-secondary btn-sm disabled" aria-disabled="true">Next</span>
					</div>
					
					<div class = "col-sm-1">
					<a th:if="${currentPage > 1}" th:href="@{'/web/clienti/page/' + ${currentPage - 1} + '?sortField=ragioneSociale&sortDir=' + ${SortDir}}" class="btn btn-secondary btn-sm">Previous</a>
					<span th:unless="${currentPage <= totalPages}" class="btn btn-outline-secondary btn-sm disabled" aria-disabled="true">Previous</span>
					</div>
				
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/web/clienti/page/' + ${totalPages} + '?sortField=ragioneSociale&sortDir=' + ${SortDir}}" class="btn btn-secondary btn-sm">Last</a>
					<span th:unless="${currentPage < totalPages}" class="btn btn-outline-secondary btn-sm disabled" aria-disabled="true">Last</span>
					</div>
				</div>
				</div>

	

	<div  class="link-home">
		<a  href="/" class="btn btn-info btn-sm">Torna alla Home</a>
	</div>
	<div class="footer">Powered by Davide Piarulli</div>
</body>
</html>