<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Epic Energy Services - Lista Province</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
<div class="header-menu">Epic Energy Services</div>
<div class="header-section">Elenco Province</div>

<div class="container">
<div class="card">



 <table class="table table-hover">
     <thead>
        <tr>
            <th class="header">Anno</th>
            <th class="header">Data</th>
            <th class="header">Importo</th>
            <th class="header">Numero</th>
          
           
            <th class="header"></th>
            <th class="header"></th>
        </tr>
      </thead>
      <tbody>
            <tr th:each="fattura : ${fatture}">
               <td th:text="${fattura.anno}"></td>
               <td th:text="${fattura.date}"></td>
               <td th:text="${fattura.importo}"></td>
               <td th:text="${fattura.numero}"></td>
               
              

            </tr>
       </tbody>
   </table>

<hr />
				<ul class="nav nav-pills">
					<li class="nav-item"
						th:each=" i : ${#numbers.sequence(0,fatture.totalPages-1)}">
						<a th:href="@{/web/fatture/mostraElenco/(page=${i})}" th:text="${i}" class="nav-link"
						th:classappend="${currentPage}==${i}?'active':''"></a>
					</li>
				</ul>



</div>




</div>
    
  
   

    <div class="link-home"><a href="/">Torna alla Home</a></div>
    <div class="footer">Powered by Epicode School</div>
   </body>
</html>